html {
  background: black;
  font-family: sans-serif;
}

.playerDot {
  height: 40px;
  width: 40px;
  background-color: red;
  position: absolute;
  top:50px;
  left:50px;
  border-radius: 50%;
}
.dots {
  height: 20px;
  width: 20px;
  position: absolute;
  top:50px;
  left:50px;
  border-radius: 50%;
}

#gameOver, #gameStart {
  height: 200px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  background-color: black;
  text-align: center;
  font-size: 90px;
  color: white;
  border: 3px solid white;
}

#score {
  float: right;
  color: yellow;
  font-size: 30px;
  margin-right: 30px;
}

#scoreResult {
  height: 80px;
  width: 300px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform:translate(-50%, -50%);
  text-align: center;
  font-size: 40px;
  color: white;
}
