html {
  background: black;
}

.playerDot {
  height: 40px;
  width: 40px;
  background-color: red;
  position: absolute;
  top:50px;
  left:50px;
  border-radius: 50%;
}
.dots {
  height: 18px;
  width: 18px;
  position: absolute;
  top:50px;
  left:50px;
  border-radius: 50%;
}
