html {
  box-sizing: border-box;
  background: black;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Dots */

.playerDot {
  height: 40px;
  width: 40px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
}

.dots {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50px;
  left: 50px;
  border-radius: 50%;
}


/* Game Board */

#score {
  float: right;
  color: yellow;
  font-size: 30px;
  margin-right: 30px;
}

#dotNum {
  float: left;
  color: rgb(200, 200, 200);
  font-size: 30px;
  margin-left: 30px;
}

#sound {
  float: left;
  color: white;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

#godmode {
  float: right;
  color: white;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

#debug {
  margin: 0 auto;
  text-align: center;
  color: red;
  font-size: 30px;
  padding-top: 300px;
  margin: 0 auto;
}

#gameOver, #gameStart {
  height: 200px;
  width: 300px;
  background-color: black;
  text-align: center;
  font-size: 90px;
  color: white;
  border: 3px solid white;
}

#gameStart {
  height: 220px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 5px;
}

#gameOver {
  height: 220px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 10px;
}

#wrapper {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding-top: 20px;
}

#scoreResult, #retry {
  height: 80px;
  width: 300px;
  font-size: 40px;
  color: white;
  margin: 0 auto;
  text-align: center;
}

/* hover */

#gameStart:hover {
  border: 4px solid white;
}

#scoreResult:hover {
  color: yellow;
}

#gameOver:hover, {
  color: rgb(0, 224, 255);
}

#retry:hover {
  color: rgb(255, 0, 153);
  font-weight: bold;
}
